@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');

body{
  background-color:rgb(32,31,33);
}

*{
  margin:0px;
  padding:0px;
}
.brand img{ 
  height:35px;
  padding-right: 10px;
}

nav{
  font-family: "Varela Round", sans-serif;

}

nav ul{
  display:flex;
  align-items: center;
  list-style-type:none;
  height:60px;
  background-color: black;
  color:white;
}

nav ul li{
  padding:0 15px;
}
.brand{
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
.container{
  min-height: 80vh;
  background-color: black;
  color:white;
  font-family:  "Varela Round", sans-serif;
  display: flex;
  width:80%;
  margin:25px auto;
  border-radius: 12px ;
  padding:34px;
  background-image: url('spotify/images/arijit.png');
 
}

.bottom{
  position: sticky;
  height:140px;
  background-color: black;
  color:white;
  bottom: 0;
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-direction: column;

}
.icons{
  margin:15px;
}
.icons i{
  cursor: pointer;
}

#myProgressBar{
  width:80vw;
  cursor: pointer;

}
.songItemContainer{
  margin-top: 75px;;
}

.songItem{
  height:50px;
  display: flex;
  background-color: white;

  color:black;
  margin:10px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 35px;
  
}

.songItem img{
  width:40px;
  height:45px;
  margin:0 23px;
 

}

.timestamp{
  margin:0 23px;


}
.timestamp{
  cursor: pointer;
}


.songInfo{
  position: absolute;
  left:10vw;
  font-family:  "Varela Round", sans-serif;
}
.songInfo img{
opacity: 0;
transition: opacity 0.5s ease-in;
}
